    <nav class="navigation-menu primary--menu">

        <ul>
            <li class="">
                <a href="{% url "index" %}"><span>Home</span></a>
            </li>
            <li class="has-children has-children--multilevel-submenu">
                <a href="{% url "about_us" %}"><span>About Us</span></a>
                <ul class="submenu">
                    <li><a href="{% url "leadership" %}"><span>Leadership</span></a></li> 
                    <li><a href="{% url "why_choose_us" %}"><span>Why choose us</span></a></li>
                    <li><a href="{% url "testimonial_section" %}"><span>Testimonials</span></a></li>
                </ul>
            </li>
            <li class="has-children has-children--multilevel-submenu">
                <a href="{% url "services" %}"><span>Services</span></a>
                <ul class="submenu">
                    <li><a href="{% url "services" %}"><span>IT Services</span></a></li>
                    {% comment %} <li><a href="business-solution.html"><span>Business solution</span></a></li> {% endcomment %}
                    <li><a href="{% url "service_details" %}"><span>IT Services Details</span></a></li>
                </ul>
            </li>
            <li class="">
                <a href="{% url "careers" %}"><span>Careers</span></a>  
            </li>
            
            <li class="">
                <a href="{% url "contact" %}"><span>Contact Us</span></a>  
            </li>
        </ul>
    </nav>